# Test project overrides

[*.cs]
# Allow our strange test class naming convention
dotnet_naming_symbols.amt_tests.applicable_kinds = class,method
dotnet_naming_symbols.amt_tests.word_separator = "_"
dotnet_naming_symbols.amt_tests.capitalization = first_word_upper

# Allow class variables with underscore prefix
dotnet_diagnostic.IDE1006.severity = suggestion

# SonarLint is still complaining about pascal case, so silence it
dotnet_diagnostic.S101.severity = silent

# S2699: Tests should include assertions
# SonarLint doesn't understand implied assertions from FakeItEasy
dotnet_diagnostic.S2699.severity = none
